<!doctype html>
<html lang="en">
  <head>
    <title>trashbin</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="/css/main.css">
    <script src="/js/NoSleep.min.js"></script>
    <script src="/js/main.js"></script>
  </head>
  <body>
    <h1></h1>
    <h2></h2>
    <form action="/upload" enctype="multipart/form-data" method="post">
      <input type="file" name="upload" multiple="multiple"> <input type="submit" value="Upload">
    </form>
    <ul></ul>
    <script></script>
  </body>
</html>